h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
}

#header {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1fa9muc*_ga*Mjg0MTUyNzc1LjE2NTQzODMxNzQ.*_ga_3LRZM6TM9L*MTY1NTM0OTk5MC40Ni4xLjE2NTUzNTAzOTMuNTU.);
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes h2 {
    background-color: mediumspringgreen;
}

.frames h2 {
    background-color: lightcoral;
}

.paint h2 {
    background-color: skyblue;
}

.priceHighlight {
    font-weight: bold;
}

body h3 {
    font-weight: bolder;
}